@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");

$font-face: "Kumbh Sans", sans-serif;
$lora-font-face: "lora", serif;
$logo-font-face: "Rubik", sans-serif;
$noto-sans-font-face: "Noto Sans TC", sans-serif;
$kumbh-sans-font-face: "Kumbh Sans", sans-serif;
