$black: #131313;
$white: #fff;
$purple: #9518fc;
$transparent-bg: rgba(255, 255, 255, 0.5);
$salmon: #ff8177;
$red: #ff0844;
$peach: #ffb199;
$purple-highlight: rgb(132, 0, 255);
$red-purple: #ee0979;
$orange: #ff6a00;
$phlox: #da22ff;
$portland-orange: #ff512f;
$razzmatazz: #dd2476;
$violet: #7f00ff;
$another-purple: #e100ff;
$fuchsia: #f300e4;
$pumpkin: #f7673c;
$blue: #4a00e0;
$blue-violet: #8e2de2;
$bright-gray: #e9e9e9;
