@use "../abstracts" as abs;

.main {
  background-color: #131313;
  padding: 8rem 0;

  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

    .main__img--container {
      text-align: center;

      .main__img--card {
        margin: 10px auto;
        height: 450px;
        width: 450px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        background: url("../../assets/images/cat-2.jpg") no-repeat center center;
        background-size: cover;

        @include abs.respond-to("large") {
          height: 425px;
          width: 425px;
        }

        @include abs.respond-to("tiny") {
          width: 250px;
          height: 250px;
        }
      }

      @include abs.respond-to("large") {
        display: flex;
        justify-content: center;
        order: 2;
      }
    }

    .main__content {
      color: #fff;
      width: 100%;
      padding-left: 20px;

      .main__heading {
        font-size: 50px;
        margin-bottom: 24px;
        color: #fff;

        span {
          background-color: #ee0979;
          background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
          background: linear-gradient(to right, #ff6a00, #ee0979);
          background-size: 100%;
          background-clip: text;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
        }
      }

      .main__description {
        font-size: 25px;
        background-color: #da22ff;
        background: -webkit-linear-gradient(to right, #ff0844, #da22ff);
        background: linear-gradient(to right, #ff0844, #da22ff);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }

      .main__btn {
        font-size: 1.8rem;
        // background-color: #833ab4;
        // background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        // background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        padding: 20px 60px;
        border-radius: 4px;
        border: none;
        outline: none;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        background: #7f00ff; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #e100ff,
          #7f00ff
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #e100ff,
          #7f00ff
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        a {
          position: relative;
          z-index: 2;
          color: #fff;
          text-decoration: none;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #f300e4;
          transition: all 0.35s;
          border-radius: 4px;
        }

        &:hover {
          color: #fff;

          &::after {
            width: 100%;
          }
        }

        @include abs.respond-to("tiny") {
          padding: 12px 36px;
          margin: 2.5rem 0;
        }
      }

      @include abs.respond-to("large") {
        text-align: center;
        order: 1;
        margin-bottom: 25px;
        padding: 0;
      }
    }

    @include abs.respond-to("large") {
      grid-template-columns: 1fr;
    }
  }

  @include abs.respond-to("tiny") {
    padding: 5rem 0;
  }
}

#card-2 {
  background-color: #ff512f;
  background: linear-gradient(to right, #dd2476, #ff512f);
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);

  .fa-brands {
    font-size: 14rem;
  }

  @include abs.respond-to("large") {
    display: none;
  }
}
