@use "../abstracts" as abs;
@use "../base";

.navbar {
  background-color: #131313;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

    .navbar__menu {
      display: flex;
      align-items: center;
      list-style: none;

      .navbar__item {
        height: 80px;

        .navbar__links {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          height: 100%;
          transition: all 0.3s ease;

          &:hover {
            color: #9518fc;
          }

          @include abs.respond-to("medium-large") {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
          }
        }

        @include abs.respond-to("medium-large") {
          width: 100%;
        }
      }

      .navbar__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        width: 100%;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 10px 20px;
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.5);
          color: #fff;
          transition: all 0.3s ease;

          @include abs.respond-to("medium-large") {
            width: 80%;
            height: 80px;
            margin: 0;
          }
        }

        @include abs.respond-to("medium-large") {
          padding-bottom: 2rem;
        }
      }

      @include abs.respond-to("medium-large") {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;

        &.active {
          background-color: #131313;
          top: 100%;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 99;
          height: 60vh;
          font-size: 1.6rem;
        }
      }
    }

    @include abs.respond-to("medium-large") {
      padding: 0;

      .navbar__toggle {
        .bar {
          width: 25px;
          height: 3px;
          margin: 5px auto;
          transition: all 0.3s ease;
          background: #fff;
          display: block;
        }
      }

      #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        cursor: pointer;

        &.is-active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &.is-active .bar:nth-child(2) {
          opacity: 0;
        }

        &.is-active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}

#navbar__logo {
  background: #ff8177 linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: base.$logo-font-face;

  @include abs.respond-to("medium-large") {
    padding-left: 25px;
  }
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}
